<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="data source=.;initial catalog=EmployeeDB;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="OperationalService.EmployeeService" behaviorConfiguration="ServiceBehavior">
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="OperationalService.IEmployeeService"
						  behaviorConfiguration="WebBehavior" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="WebBehavior">
					<webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<modules runAllManagedModulesForAllRequests="true" />
	
	</system.webServer>
</configuration>
